# Chapter 3

### Tuple
- fixed-length
- immutable

In [48]:
tup = (4, 5, 6)
tup

(4, 5, 6)

In [49]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [50]:
tuple([4,0.2])

(4, 0.2)

In [51]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [52]:
tup[0]

's'

In [53]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [54]:
nested_tup[0]

(4, 5, 6)

In [55]:
nested_tup[1]

(7, 8)

In [56]:
tup = tuple(['foo', [1,2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [57]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [58]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [59]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [60]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [61]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup 
d

7

In [62]:
a, b = 1, 2
print(a)
print(b)

1
2

In [63]:
b, a = a, b
print(a)
print(b)

2
1

In [64]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [65]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a)
print(b)
print(rest)

1
2
[3, 4, 5]

In [66]:
a, b, *_ = values
print(a)
print(b)

1
2

In [67]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

# List
- variable-length
- mutable

In [68]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [69]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [70]:
gen = range(10)
gen

range(0, 10)

In [71]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [73]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [74]:
b_list.pop(2)

'peekaboo'

In [75]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [76]:
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [77]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [78]:
'dwarf' in b_list

True

In [79]:
'dwarf' not in b_list

False

In [80]:
[4, None, 'foo'] + [7, 8, (2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [81]:
x = [4, None, 'foo']
x.extend([7, 8, (2,3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [82]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [83]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [84]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [85]:
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [86]:
seq[:5]

[7, 2, 3, 6, 3]

In [87]:
seq[3:]

[6, 3, 6, 0, 1]

In [88]:
seq[-4:]

[3, 6, 0, 1]

In [89]:
seq[-6:-2]

[3, 6, 3, 6]

In [90]:
seq[::2]

[7, 3, 3, 0]

In [91]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

# Dictionary

In [92]:
empty_dict = {}
d1 = {'a': 'some value', 'b':[1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [93]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [94]:
d1['b']

[1, 2, 3, 4]

In [95]:
'b' in d1

True

In [96]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [97]:
d1['dummy'] = 'another value' 
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [98]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [99]:
ret = d1.pop('dummy')
ret

'another value'

In [100]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [101]:
list(d1.keys())

['a', 'b', 7]

In [102]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [103]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [104]:
d1.update({'b':'foo', 'c':12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [106]:
tuples = zip(range(5), reversed(range(5)))
tuples

In [107]:
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [109]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else: 
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [110]:
by_letter = {}

for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [111]:
from collections import defaultdict

by_letter = defaultdict(list)

for word in words:
    by_letter[word[0]].append(word)

# Set
- unordered collection of unique elements

In [112]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [113]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [114]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [115]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [116]:
a.intersection(b)

{3, 4, 5}

In [117]:
a & b

{3, 4, 5}

In [118]:
c = a.copy()

In [119]:
c |= b

In [120]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [121]:
d = a.copy()
d &= b
d

{3, 4, 5}

In [122]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [123]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

In [124]:
a_set.issuperset({1, 2, 3})

True

In [125]:
{1, 2, 3} == {3, 2, 1}

True